<!doctype html>
<html>
   <head>
      <script src="angular.min.js"></script>
   </head>
<body>
<h2>AngularJS Sample Applicationa</h2>
<div ng-app="" ng-controller="environmentController">
    <table>
            <thead>
            <tr>
              <th style="width: 700px"/>
              <th/>
            <tr>
            </thead>
            <tbody>
            <tr ng-repeat="environment in environments">
              <td>{{environment.name}}</td>
              <td>{{environment.status}}</td>
            </tr>
            </tbody>
    </table>
</div>
<script>
function environmentController($scope,$http) {
var url="http://localhost:3000/environments/json";
   $http.get(url).success( function(response) {
                           $scope.environments = response;
                        });
}
</script>
</body>
</html>