
{% extends "base.html" %}
{% block content %}



<div id="accordion" class="accordion">
  <h3>Section 1</h3>
  <div>
    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">row1</p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>row1</p>
    <p>row2</p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>row1</p>
    <p>row2</p>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>row1</p>
    <p>row2</p>
  </div>
</div>



  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <p style="padding-left:1px"><img src="logo_Lexisnexis.png" height="80px" /></p>

    <h1 class="page-header">Environment Health Dashboard</h1>

    <h3 class="sub-header">Environments</h3>

    <p th:text="${currentdate}"></p>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Service</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
        
         {% for environment in environments %}
         
           <tr>
            <td>{{environment.name}}</td>
            <td>{{environment.status}}</td>
           </tr>
         
         {% endfor %}
        
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
