
{% extends "base.html" %}
{% block content %}





  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <p style="padding-left:1px"><img src="logo_Lexisnexis.png" height="80px" /></p>

    <h1 class="page-header">Environment Health Dashboard </h1>
    
    {{now|date:longDateTime}}
        
    <h3 class="sub-header">Environments</h3>

    <div id="accordion" class="accordion">
    {% for environment in environments %}
        <h3>{{environment.name}}</h3>
        <div>
          {% for service-check in service-checks %}
        
            {% ifequal environment.id service-check.environment_id %}
            <p>{{service-check.service_check_description}}</p>
            {% endifequal %}
          
          {% endfor %}
          
        </div>
    
    {% endfor %}
    </div>
    
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Service</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
        
         {% for environment in environments %}
         
           <tr>
            <td>{{environment.name}}</td>
            <td>{{environment.status}}</td>
           </tr>
         
         {% endfor %}
        
        </tbody>
      </table>
    </div>
  </div>
  


  

{% endblock %}
