{% extends "base.html" %} {% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<p style="padding-left: 1px">
		<img src="logo_Lexisnexis.png" height="80px" />
	</p>

	<h1 class="page-header">Environment Health Dashboard</h1>
	{{now|date:longDateTime}} {% verbatim %}

	<h3 class="sub-header">Environments</h3>

	<div ng-app="monitor" ng-controller="environmentController">

		<accordion close-others="oneAtATime"> 
			<accordion-group
				ng-repeat="environment in environments"
				heading="{{environment.name}}">
	
				<p>Service checks run against this environment:</p>
		
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Description</th>
							<th>Updated date</th>
							<th>Status</th>
						</tr>
					</thead>
		
					<tr ng-repeat="serviceCheck in serviceChecks | filter:{ environment_id: environment.id} ">
						<td>{{serviceCheck.service_check_description}}</td>
						<td>{{serviceCheck.updated_date|date:"yyyy-MM-dd HH:mm:ss"}}</td>
						<td>{{serviceCheck.status}}</td>
					</tr>
				</table>
	
			</accordion-group> 
		</accordion>
		<div>
			<button ng-click="reload();">Reload</button>
		</div>
	</div>
	{% endverbatim %}
</div>
{% endblock %}

