
{% extends "base.html" %}


{% block content %}

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <p style="padding-left:1px"><img src="logo_Lexisnexis.png" height="80px" /></p>

    <h1 class="page-header">Environment Health Dashboard </h1>

    {{now|date:longDateTime}}
        
    {% verbatim %}
    
    <h3 class="sub-header">Environments</h3>
    
    <div ng-app="monitor">
    
    <div ng-controller="environmentController">
    
      <accordion close-others="oneAtATime">

        <div ng-repeat="environment in environments">
        
            <accordion-group heading="Dynamic Body Content">
            
                <p>The body of the accordion group grows to fit the contents</p>
                
                <div ng-controller="servicecheckController">
                
                    <table class="table table-striped" >
                    <thead>
                    <tr>
                      <th>Service check</th>
                      <th>Updated date</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    
                          <tr ng-repeat="serviceCheck in serviceChecks">
                            <td>{{serviceCheck.service_check_description}}</td>
                            <td>{{serviceCheck.updated_date|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td>{{serviceCheck.status}}</td>
                          </tr>                                            
                          
                    </table>
                
                </div>
                
            </accordion-group>
            
        </div>
      </accordion>
    </div>

    <!-- 
    
            <div class="table-responsive" /> 
            <table>
                <thead>
                <tr>
                  <th style="width: 700px"/>
                  <th/>
                <tr>
                </thead>
                <tr>
                  <td>{{environment.name}}</td>
                  <td>{{environment.status}}</td>
                </tr>
                </tbody>
            </table>
            </div> 
    
            <div ng-controller="servicecheckController">
                <table class="table table-striped" >
                <thead>
                <tr>
                  <th>Service check</th>
                  <th>Updated date</th>
                  <th>Status</th>
                </tr>
                </thead>
                
                  <!-- {% ifequal environment.id service-check.environment_id %} 
            
                  <tr ng-repeat="serviceCheck in serviceChecks">
                    <td>{{serviceCheck.service_check_description}}</td>
                    <td>{{serviceCheck.updated_date|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                    <td>{{serviceCheck.status}}</td>
                  </tr>
             
                <!-- {% endifequal %}
              
              
              </table>
            </div>
    -->

    {% endverbatim %}
 
{% endblock %}
