html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

.accordion .ui-accordion-header, .noStyleAccordion .ui-accordion-content {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 14px;
     color: #333;
     background: #FFFFEF;
}

.ui-accordion-header.ui-state-active { background-color: #FFFFCC; }

* {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 14px;
     color: #333;
}

.red {
    color: red; 
    font-weight: bold;
}

.black {
    color: black;
    
}